### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log
*.swp

### Vagrant Patch ###
*.box

##
kubernetes-setup/join-command
kubernetes-setup/kubeconfig
